<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.openhealthtools.mdmi.cmdline/src/org/openhealthtools/mdht/mdmi/CmdLineApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.openhealthtools.mdht.mdmi.CmdLineApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="test/BCHSourceMap.xmi&#9;&#10;BCHMessageGroup.BCHRXHistory&#10;test/BCHSourceMessage.xml&#10;test/CCDTargetMap.xmi&#9;&#10;CCDMessageGroup.CCD&#10;test/CCDTargetMessage.xml&#10;one;two;three"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.openhealthtools.mdmi.cmdline"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=""/>
</launchConfiguration>
